<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adopted Pets</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Adjust the path based on your project structure -->
</head>
<body>

<div class="container">
    <h1 class="adopter-title">Your Adopted Pets</h1>

    <div th:if="${not #lists.isEmpty(session.adoptedPetReports)}">
        <table class="table" id="adopterTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Breed</th>
                    <th>Years of Ownership</th>
                    <th>Reports</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="petReport : ${session.adoptedPetReports}">
                    <td th:text="${petReport.pet.name}"></td>
                    <td th:text="${petReport.pet.age}"></td>
                    <td th:text="${petReport.pet.type}"></td>
                    <td th:text="${petReport.pet.averageExpense}"></td>
                    <td th:text="${petReport.pet.breed}"></td>
                    <td th:text="${petReport.pet.yearOfOwnership}"></td>
                    <td>
                        <ul>
                            <li th:each="report : ${petReport.reports}">
                                <span th:text="${report.type}"></span> - <span th:text="${report.description}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <form action="/editPet" method="post">
                            <input type="hidden" id="petId" name="petId" th:value="${petReport.pet.id}" required>
                            <input type="hidden" id="session" name="session" th:value="${session}" required>
                            <button type="submit" class="edit-button">Edit Pet Info</button>
                        </form>
                        <form action="/listExistingPet" method="post">
                            <input type="hidden" id="petId" name="petId" th:value="${petReport.pet.id}" required>
                            <input type="hidden" id="session" name="session" th:value="${session}" required>
                            <button type="submit" class="give-button">Give Away</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(session.adoptedPetReports)}" class="message">
        <p>There are no adopted pets</p>
    </div>
    
    <div class="back-button">
        <form action="/profile" method="get">
            <button type="submit" class="button">Profile</button>
        </form>
    </div>
</div>

</body>
</html>
