<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Away a Pet</title>
    <script>
        function addReport() {
            var reportDiv = document.createElement("div");
            
            var titleLabel = document.createElement("label");
            titleLabel.textContent = "Report Title:";
            var titleInput = document.createElement("input");
            titleInput.type = "text";
            titleInput.name = "reportTitles";
            titleInput.required = true;

            var descriptionLabel = document.createElement("label");
            descriptionLabel.textContent = "Report Description:";
            var descriptionInput = document.createElement("input");
            descriptionInput.type = "text";
            descriptionInput.name = "reportDescriptions";
            descriptionInput.required = true;

            reportDiv.appendChild(titleLabel);
            reportDiv.appendChild(titleInput);
            reportDiv.appendChild(descriptionLabel);
            reportDiv.appendChild(descriptionInput);

            var form = document.getElementById("petForm");
            form.insertBefore(reportDiv, form.lastElementChild);
        }
    </script>
</head>

<body>
    <h1>Give Away a Pet</h1>

    <!-- Form to take inputs for a new pet -->
    <div>
        <form id="petForm" action="/listNewPet" method="post">
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="type">Type:</label>
            <select id="type" name="type" required>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="bird">Bird</option>
                <!--<option value="fish">Fish</option>
                <option value="hamster">Hamster</option>
                <option value="gecko">Gecko</option>-->
                <option value="other">Other</option>
            </select>

            <label for="averageExpense">Cost:</label>
            <input type="number" id="averageExpense" name="averageExpense" required>

            <label for="breed">Breed:</label>
            <input type="text" id="breed" name="breed" required>

            <label for="yearOfOwnership">Year of Ownership:</label>
            <input type="number" id="yearOfOwnership" name="yearOfOwnership" required>

            <button type="button" onclick="addReport()">Add Report</button>

            <button type="submit">Give Away</button>
        </form>
    </div>

    <div class="back-button">
        <form action="/profile" method="get">
            <button type="submit" class="button">Back</button>
        </form>
    </div>
</body>

</html>