<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Adjust the path based on your project structure -->
</head>
<body>

<div class="container">
    <h1 class="report-title">Report Info</h1>

    <div th:if="${not #lists.isEmpty(session.reportList)}">
        <table class= "report-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="report : ${session.reportList}">
                    <td th:text="${report.type}"></td>
                    <td th:text="${report.description}"></td>
                    
                    <td>
                        <form action="/editReport" method="post">
                            <input type="hidden" id="reportId" name="reportId" th:value="${report.id}" required>
                            <input type="hidden" id="petId" name="petId" th:value="${session.pet_id}" required>
                            <input type="hidden" id="session" name="session" th:value="${session}" required>
                            <button type="submit"  style="background-color: rgb(172, 85, 194); width : 80px;">Edit</button>
                        </form>
                        <form action="/deleteReport" method="post">
                            <input type="hidden" id="reportId" name="reportId" th:value="${report.id}" required>
                            <input type="hidden" id="petId" name="petId" th:value="${session.pet_id}" required>
                            <input type="hidden" id="session" name="session" th:value="${session}" required>
                            <button type="submit"  style="background-color: rgb(187, 72, 78);width : 80px;">Delete</button>
                        </form>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(session.reportList)}" class="message">
        <p>There are no reports for pet</p>
    </div>

    <div>
        <button style= "background-color: #c7ba00;margin-top: 10px;" onclick="goBack()">Back</button>
    </div>
</div>

</body>
</html>

<script>
    function goBack() {
      window.history.back();
    }
  </script>